@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  background: #030e2f;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

@keyframes stretchy {
  from {
    letter-spacing: 10px;
    opacity: 0;
  }
  to {
    letter-spacing: 3px;
    opacity: 1;
  }
}

.anim-out-title {
  animation: fadeOutLeft 1s forwards 0.5s;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  /*animation: fadeIn 2s forwards 0s 1 normal;*/
  animation-name: fadeIn;
  animation-direction: normal;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: -1;
}

/*
canvas {
  display: block;
  width: 100%;
  height: 100%;
}
*/

/*
#labels {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
}

.title {
  position: absolute;
  left: 25%;
  top: 35%;
  opacity: 0;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  animation: fadeInUp;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.subtitle {
  position: relative;
  left: 23%;
  top: 53%;
  color: white;
  opacity: 1;
  font-family: "Poppins" sans-serif;
  font-weight: 100;
}


.parent {
  display: inline-block;
  color: white;
  position: relative;
  text-align: center;
  left: 33%;
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  transform: translateX(-50%);
}

.title {
  font-weight: 300;
}

.subtitle {
  font-weight: 200;
}

*/

.flex-center {
  color: #ffffff;
  position: absolute;
  left: 33%;
  top: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flex-center h1 {
  font-weight: 300;
  opacity: 0;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.flex-center h3 {
  font-weight: 100;
  color: #bbb;
  opacity: 0;
  letter-spacing: 3px;
  animation-name: stretchy;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  /*
  animation-name: stretchy;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  */
}

/*
.flex-center span {
  margin: 0;
  padding: 15px;
}
*/

.footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  color: #bbb;
  font-size: 12px;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-timing-function: forwards;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}

.page {
  opacity: 0;
}

.page section {
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  min-height: 100px;
  padding: 100px 20vw;
}